#!/usr/bin/env python
# pylint: disable=invalid-name,too-many-locals,unspecified-encoding
"""AoC day {{day}}, {{year}}{% if puzzle_name %}: {{puzzle_name}}{% endif %}"""

## Standard library imports
import pathlib
import sys
# import collections
# import functools
# import itertools

## Third-party
# from codetiming import Timer


def parse_data(puzzle_input):
    """Parse input"""
    return puzzle_input


# @Timer(name="Part 1", text="{name}: {milliseconds:.1f} ms")
def part1(data):
    """Solve part 1"""
    return data


# @Timer(name="Part 2", text="{name}: {milliseconds:.1f} ms")
def part2(data):
    """Solve part 2"""
    return data


def solve(puzzle_input):
    """Solve the puzzle for the given input"""
    data = parse_data(puzzle_input)
    yield part1(data)
    yield part2(data)


if __name__ == "__main__":
    for path in sys.argv[1:]:
        print(f"\n{path}:")
        solutions = solve(puzzle_input=pathlib.Path(path).read_text().strip())
        print("\n".join(str(solution) for solution in solutions))
