#!/usr/bin/env wolframscript
(* AoC day {{day}}, {{year}}{% if puzzle_name %}: {{puzzle_name}}{% endif %} *)

(* Read input *)

input = StringSplit[$ScriptInputString, "\n"];

(* Part 1 *)


Print[part1]


(* Part 2 *)


Print[part2]
